.header{
    margin: 20px 0 0 20px;
}
.wrapUser{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.cardUser{
    width: 300px;
    height: 100px;
    background: antiquewhite;
    margin: 20px 0 20px 50px;
    border: 1px solid #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: sans-serif;

}

.innerImgAndFollow{
    width: 80px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.innerImgAndFollow .avatar {
    width: 50px;
    height: 50px;
    border: 1px solid #000000;
    text-align: center;
    line-height: 46px;
    border-radius: 50px;
    font-family: sans-serif;
}
.innerImgAndFollow .followUnfollow{
    width: 70px;
    height: 20px;
    border: 1px solid #000000;
    text-align: center;
    font-family: sans-serif;
}