.ContentContainer{
    background: coral;
    grid-area: c;
    border: 1px solid #000;
}

.WallPaper{
    width: 100%;
    height: 300px;
    background-image: url("https://wallpapertops.com/walldb/original/5/1/f/80006.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}