.NavBar{
    background: crimson;
    grid-area: n;
    border: 1px solid #000;
    padding: 10px;
}
 .NavBar a {
     color: black;
     text-decoration: none;
 }
 .NavBar a.ActiveLink {
     color: gold;
     text-decoration: underline;
 }